@media (max-width: 2000px) {
    .about-new {
      display: none;
    }
    .indent-new {
      display: none;
    }
  }
  
  @media (max-width: 1420px) {
    .product-picture {
      width: 150px;
      height: 300px;
    }
    .main-product {
      padding-top: 168px;
    }
  }
  
  @media (max-width: 1100px) {
    .title {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  
    .swiper {
      width: 600px;
    }
  }
  
  @media (max-width: 890px) {
    .fullscreen-bg__video,
    .overlay,
    .fullscreen-bg {
      display: none;
    }
  
    .about-new {
      display: inline;
    }
  
    .about {
      background: linear-gradient(
        to right,
        rgb(147, 185, 182),
        rgb(83, 128, 196)
      );
    }
  
    .title {
      background: linear-gradient(
        to right,
        rgb(147, 185, 182),
        rgb(83, 128, 196)
      );
    }
  
    .doctor {
      width: 250px;
      height: 300px;
    }
  
    .about2 {
      margin-top: 0;
    }
  
    .swiper {
      width: 500px;
    }
  
    .swiper-slide {
      width: 300px;
    }
  
    .main-product {
      padding-top: 60px;
    }
  
    .indent {
      display: none;
    }
  
    .indent-new {
      display: inline;
    }
  
    .ingridients__item {
      width: 100px;
      height: 100px;
    }
  }
  
  @media (max-width: 640px) {
    .about {
      flex-direction: column;
      text-align: center;
    }
  
    .specification2-item {
      flex-direction: column;
      text-align: center;
    }
  
    .specification-item2 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    .specification-sub {
      margin-bottom: 30px;
    }
  
    .ingridients__item {
      width: 60px;
      height: 60px;
    }
  
    .promo2 {
      flex-direction: column;
      align-items: center;
    }
  
    .main-product {
      margin-left: 20px;
      margin-right: 20px;
      padding-top: 65px;
    }
  
    .btn {
      padding-bottom: 10px;
    }
  
    .swiper {
      width: 400px;
    }
  
    .product {
      margin-right: 20px;
    }
  
    .product-picture {
      width: 90px;
      height: 160px;
    }
  
    .imgg {
      height: 300px;
      width: 200px;
    }
  
    .specification2-item {
      display: none;
    }
  }
  
  @media (max-width: 440px) {
    .swiper {
      width: 300px;
    }
  
    .price__img {
      width: 100px;
      height: 180px;
    }
  
    .item {
      width: 200px;
      margin: 10px;
    }
  
    .price-new {
      color: #242c99;
    }
  
    .item:after {
      width: 150px;
    }
  }
  